@model IEnumerable<StockManagementSystem.Models.ViewModel.CategoryItemView>
@{
    ViewData["Title"] = "ItemList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Items List</h6>

            <div class="dropdown no-arrow" style="float:right">
                <input type="button" class="btn btn-success btn-sm" value="Add New Item" id="AddNewButton" />

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="display:none"></th>
                            <th style="display:none"></th>
                            <th>Category Name</th>
                            <th>Item Name</th>
                            <th>Item Details</th>
                            <th>No. of Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var item in Model)
                            {
                                                <tr>
                                                    <td style="display:none">@item.ItemId</td>
                                                    <td style="display:none">@item.CategoryId</td>
                                                    <td>@item.CategoryName</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.ItemDetails</td>
                                                    <td>@item.Quantity</td>
                                                    <td>
                                                        <form asp-controller="Items" asp-action="DeleteItemById">
                                                            <input type="hidden" name="ItemId" value="@item.ItemId" />
                                                            <input type="submit" class="btn btn-danger btn-sm" name="delete" value="Delete" />
                                                            <input type="button" class="btn btn-info btn-sm editButton" value="Edit" />

                                                        </form>

                                                    </td>
                                                </tr>
                            } }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="AddNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Items" asp-action="AddNewItem">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Client Information</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="categoryId" class="col-sm-5 col-form-label">Category Name</label>
                        <div class="col-sm-7">
                            <select class="selectpicker form-select form-select mb-3" Name="CategoryId" id="categoryId">
                                <option value="0" disabled selected>Select Category</option>
                                @foreach (var item in ViewBag.Categories)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="itemName" class="col-sm-5 col-form-label">Item Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="itemName" name="ItemName" placeholder="Item Name">
                            <input type="hidden" class="form-control" id="itemId" name="ItemId">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="itemDetails" class="col-sm-5 col-form-label">Item Details</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="itemDetails" name="ItemDetails" placeholder="Item Details">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="itemQuantity" class="col-sm-5 col-form-label">Item Quantity</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="itemQuantity" name="ItemQuantity" placeholder="Item Quantity">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary btn-sm" name="Save" value="Save" />

                </div>
               
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {



            $('#AddNewButton').on('click', function () {
                ClearField();
                $('#AddNew').modal();
                //alert('clicked');
            });


            $('.editButton').on('click', function () {
                ClearField();
                $('#AddNew').modal();
                var itemId = $(this).closest('tr').children('td:eq(0)').text();
                var categoryId = $(this).closest('tr').children('td:eq(1)').text();
                var itemName = $(this).closest('tr').children('td:eq(3)').text();
                var itemDetails = $(this).closest('tr').children('td:eq(4)').text();
                var itemQuantity = $(this).closest('tr').children('td:eq(5)').text();

                $('#itemId').val(itemId);
                $("#categoryId").val(categoryId).change();
                $('#itemName').val(itemName);
                $('#itemDetails').val(itemDetails);
                $('#itemQuantity').val(itemQuantity);

            });
            function ClearField() {
                $('#itemId').val('');
                $('#categoryId').val(0).change();
                $('#itemName').val('');
                $('#itemDetails').val('');
                $('#itemQuantity').val('');
            }
        });
    </script>
} 