@model Purchase
@{
    ViewData["Title"] = "Purchase Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Purchase</h6>
        </div>
        <div class="card-body">
            <form id="purchaseForm" asp-controller="Purchase" asp-action="PurchaseEntry">


            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label for="vendorId" class="col-sm-3 col-form-label">Vendor Name</label>
                <div class="col-sm-5">
                    <select  required class="selectpicker form-select form-select mb-3" Name="VendorId" id="vendorId">
                        <option value="" disabled selected>Select Vendor</option>
                        @foreach (var item in ViewBag.Vendors)
                        {
                            <option value="@item.VendorId">@item.Name</option>
                        }

                    </select>
                </div>
                <div class="col-sm-2"></div>

            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label for="categoryId" class="col-sm-3 col-form-label">Category Name</label>
                <div class="col-sm-5">
                    <select required  class="selectpicker form-select form-select mb-3" Name="CategoryId" id="categoryId">
                        <option value="" disabled selected>Select Category</option>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }

                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label for="item_id" class="col-sm-3 col-form-label">Item Name</label>
                <div class="col-sm-5">
                    <select  required name="ItemId" class="selectpicker form-select form-select mb-3" id="item_id">
                        <option value="" selected>Select Item</option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label for="itemQuantiy" class="col-sm-3 col-form-label">Item Quantity</label>
                <div class="col-sm-5">
                    <input  required type="number" class="form-control" id="itemQuantiy" name="Quantity" placeholder="Item Quantity">

                </div>
                <div class="col-sm-2" id="availableQuantiy">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label for="unitPrice" class="col-sm-3 col-form-label">Unit Price</label>
                <div class="col-sm-5">
                    <input required type="number" class="form-control" id="unitPrice" name="UnitPrice" placeholder="Unit price">

                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label for="purchaseDate" class="col-sm-3 col-form-label">Purchase Date</label>
                <div class="col-sm-5">
                    <input required type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" id="purchaseDate" name="PurchaseDate" placeholder="Purchase Date">

                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5"></div>

                <div class="col-sm-7">
                    <input type="button" id="purchase" class="btn btn-success" name="Save" value="Purchase" />

                </div>
            </div>
            </form>
        </div>
    </div>

</div>
@section Scripts{
    <script>

    $(document).ready(function () {
        $('#categoryId').on('change', function () {
            var category_id = $('#categoryId').val();
            let url = '@Url.Action("GetItemByCategory", "Purchase")';

            let parameters = {
                cid: category_id
            };

            AjaxPostRequest(url, parameters, function (response) {

                var $select = $('#item_id');
                console.log(response);
                $select.find('option').remove();
                $('#item_id').append('<option value = "0" disabled selected > Select Item</option>')

                $.each(response, function (key, value) {
                    //$('#item_id').append('<option value=' + value.ItemId + ',' + value.Quantity +'>'+ value.Name + '</option > ');
                    $('<option/>') 
                        .val(value.ItemId)
                        .text(value.Name)
                        .appendTo('#item_id');
                });

                $('#item_id').on('change', function () {
                    let itemId = $('#item_id').val();
                    //alert(itemId);
                    //var available = response.filter(element => element.ItemId == itemId)[0].Quantity;
                    //$('#availableQuantiy').empty();
                    //$('#availableQuantiy').append('<p id="qty">Available: <span style=color:green>' + available + '<span></p>');
                });

            });

        });
        function AjaxPostRequest(url, parameters, successCallback) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: url,
                data: parameters,
                cache: false,
                success: successCallback,
                error: function (err) {
                    alert("Failed to Load Data");
                    //console.log(err);
                }
            });
        }

        $('#purchase').on('click', function () {
            if ($("#purchaseForm")[0].checkValidity()) {
                Swal.fire({
                    title: 'Do you want to purchase?',
                    showCancelButton: true,
                    confirmButtonText: 'Purchase',
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {

                        $('#purchaseForm').submit();

                    }
                })
            }
            else {
                $("#purchaseForm")[0].reportValidity();
            }
           
            
                
        });
       

    });

    </script>
}
