
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sale</h6>
        </div>
        <div class="card-body">
            <form id="saleForm" asp-controller="Sale" asp-action="SaleEntry">


                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="clientId" class="col-sm-3 col-form-label">Client Name</label>
                    <div class="col-sm-5">
                        <select required class="selectpicker form-select form-select mb-3" Name="ClientId" id="clientId">
                            <option value="" disabled selected>Select Client</option>
                            @foreach (var client in ViewBag.Clients)
                            {
                                <option value="@client.ClientId">@client.Name</option>
                            }

                        </select>
                    </div>
                    <div class="col-sm-2"></div>

                </div>

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="categoryId" class="col-sm-3 col-form-label">Category Name</label>
                    <div class="col-sm-5">
                        <select required class="selectpicker form-select form-select mb-3" Name="CategoryId" id="categoryId">
                            <option value="" disabled selected>Select Category</option>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }

                        </select>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="item_id" class="col-sm-3 col-form-label">Item Name</label>
                    <div class="col-sm-5">
                        <select required name="ItemId" class="selectpicker form-select form-select mb-3" id="item_id">
                            <option value="" selected>Select Item</option>
                        </select>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="itemQuantiy" class="col-sm-3 col-form-label">Item Quantity</label>
                    <div class="col-sm-5">
                        <input type="number" required class="form-control" id="itemQuantiy" name="Quantity" placeholder="Item Quantity">

                    </div>
                    <div class="col-sm-2" id="availableQuantiy">

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="unitPrice" class="col-sm-3 col-form-label">Unit Price</label>
                    <div class="col-sm-5">
                        <input type="number" required  class="form-control" id="unitPrice" name="UnitPrice" placeholder="Unit price">

                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="saleDate" class="col-sm-3 col-form-label">Sale Date</label>
                    <div class="col-sm-5">
                        <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required  class="form-control" id="saleDate" name="SaleDate" placeholder="Sale Date">

                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5"></div>

                    <div class="col-sm-7">
                        <input type="button" id="saleBtn" class="btn btn-success" name="Save" value="Sale" />

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts{
    <script>

    $(document).ready(function () {
        $('#categoryId').on('change', function () {
            var category_id = $('#categoryId').val();
            let url = '@Url.Action("GetItemByCategory", "Purchase")';

            let parameters = {
                cid: category_id
            };

            AjaxPostRequest(url, parameters, function (response) {

                var $select = $('#item_id');
                console.log(response);
                $select.find('option').remove();
                $('#item_id').append('<option value = "0" disabled selected > Select Item</option>')

                $.each(response, function (key, value) {
                    //$('#item_id').append('<option value=' + value.ItemId + ',' + value.Quantity +'>'+ value.Name + '</option > ');
                    $('<option/>')
                        .val(value.ItemId)
                        .text(value.Name)
                        .appendTo('#item_id');
                });

                $('#item_id').on('change', function () {
                    let itemId = $('#item_id').val();
                    //alert(itemId);
                    //var available = response.filter(element => element.ItemId == itemId)[0].Quantity;
                    //$('#availableQuantiy').empty();
                    //$('#availableQuantiy').append('<p id="qty">Available: <span style=color:green>' + available + '<span></p>');
                });

            });

        });
        function AjaxPostRequest(url, parameters, successCallback) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: url,
                data: parameters,
                cache: false,
                success: successCallback,
                error: function (err) {
                    alert("Failed to Load Data");
                    //console.log(err);
                }
            });
        }


        $('#saleBtn').on('click', function () {
            if ($("#saleForm")[0].checkValidity()) {
                Swal.fire({
                    title: 'Do you want to Sale?',
                    showCancelButton: true,
                    confirmButtonText: 'Sale',
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {

                        $('#saleForm').submit();

                    }
                })
            }
            else {
                $("#saleForm")[0].reportValidity();
            }



        });
    });

    </script>
}